.yui3-mjr-gallery-dialog{
	font-family: 'Helvetica',Arial, Sans-serif;
	display: none;
}
.yui3-mjr-gallery-dialog-focused{
	display: block;
}
.yui3-mjr-gallery-dialog-content{
	margin: 0 auto;
}
.yui3-mjr-gallery-dialog .yui3-widget-hd,
.yui3-mjr-gallery-dialog .yui3-widget-ft{
	overflow: hidden;
	padding: 1em;
}
.yui3-mjr-gallery-dialog .yui3-widget-hd h1,
.yui3-mjr-gallery-dialog .yui3-widget-hd h2,
.yui3-mjr-gallery-dialog .yui3-widget-hd h3{
	margin: 0;
}
.yui3-mjr-gallery-dialog .yui3-widget-hd .yui3-widget-buttons{
	padding: 1em;
}
.yui3-mjr-gallery-dialog .yui3-widget-ft .yui3-widget-buttons{
	padding: .5em;
}
.yui3-mjr-gallery-dialog .yui3-widget-bd{
	padding: 1em;
}